/*Contact Page*/

.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: var(--space-lg);
    align-items: start;

    background-color: var(--color-bg-surface);
    max-width: 900px;
    margin: auto;

    padding: var(--space-lg);
    border-radius: var(--radius-lg);
}

.contact-text {
    max-width: 350px;
}

.contact-text h1 {
    font-size: var(--font-size-xxl);

    padding-bottom: var(--space-md);
}

.contact-text p {
    font-size: var(--font-size-base);
    color: var(--color-text-secondary);

    padding-bottom: var(--space-md);
}

.form-group {
    padding-bottom: var(--space-md);

    flex: 1 1 0;

    position: relative;
}

.name-row {
    display: flex;
    width: 100%;

    gap: var(--space-md);
}
 
.form-group input, .form-group textarea {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: var(--font-size-base);
    border: 1.5px solid;         
    border-radius: var(--radius-md);               
    outline: none;
    
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    box-sizing: border-box;
}

.form-group label {
    position: absolute;

    top: 12px;
    left: 16px;

    pointer-events: none;
    
}


.form-group input:focus, .form-group textarea:focus {
    border-color: #3b82f6;           
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5); 
}

.form-group input + label,
.form-group textarea + label {
    color: var(--color-text-secondary);
    transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.form-group input:focus + label, 
.form-group input:not(:placeholder-shown) + label, 
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
    font-size: 12px;

    transform: translateY(-8px);
}

.form-group input:focus + label,
.form-group textarea:focus + label {
    color: #3b82f6;
}



/*Mobile*/

@media (max-width: 600px) {
     * {
        -webkit-tap-highlight-color: transparent;
    }

    /*nav-bar*/
    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: var(--space-sm);

        padding: var(--space-md) var(--space-sm);

        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 24px;
        background-color: transparent;
        border: none;
        padding: 0px;
        cursor: pointer;

        z-index: 3000;
        
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 3px;
        border-radius: var(--radius-lg);
        background-color: var(--color-primary);
        transition: transform 0.3s ease, opacity 0.3s ease;
        
    }
    
    .hamburger.nav-active span:nth-child(1) {
        width: 30px;
        transform: translateY(11px) rotate(45deg);
    } 

    .hamburger.nav-active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.nav-active span:nth-child(3) {
        width: 30px;
        transform: translateY(-6px) rotate(-45deg);
    }

    nav ul {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        background-color: var(--color-bg-surface);
        flex-direction: column;
        padding-top: 80px;
        padding-left: var(--space-sm);
        gap: var(--space-md);

        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 2000;
    }

    nav ul.nav-active {
        transform: translateX(0);
    }

    /*Contact Page*/

    .contact-page {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .contact-content {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: var(--space-lg);
        align-items: start;

        background-color: var(--color-bg-surface);
        max-width: 600px;
        margin: auto;

        padding: var(--space-lg);
        border-radius: var(--radius-lg);
    }

    .contact-text {
        max-width: 100%;
    }

    .contact-text h1 {
        font-size: var(--font-size-xl);

        padding-bottom: var(--space-md);
    }

    .contact-text p {
        font-size: 1rem;
        color: var(--color-text-secondary);

        padding-bottom: var(--space-md);
    }

    .name-row {
        display: block;
        width: 100%;    

        gap: var(--space-md);
    }
    
}

/*Tablet*/

@media (min-width: 601px) and (max-width: 1023px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    /*nav-bar*/
    header {
        justify-content: space-between;

        gap: var(--space-md);

        padding: var(--space-md) var(--space-lg);
    }

    .logo a {
        font-size: var(--font-size-xxl);
    }

    nav ul li {
        font-size: 1.5rem;
        padding-bottom: var(--space-sm);
    }

    /*Contact Page*/


}