@media (max-width: 600px) {
     * {
        -webkit-tap-highlight-color: transparent;
    }

    /*nav-bar*/
    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: var(--space-sm);

        padding: var(--space-md) var(--space-sm);

        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 24px;
        background-color: transparent;
        border: none;
        padding: 0px;
        cursor: pointer;

        z-index: 3000;
        
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 3px;
        border-radius: var(--radius-lg);
        background-color: var(--color-primary);
        transition: transform 0.3s ease, opacity 0.3s ease;
        
    }
    
    .hamburger.nav-active span:nth-child(1) {
        width: 30px;
        transform: translateY(11px) rotate(45deg);
    } 

    .hamburger.nav-active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.nav-active span:nth-child(3) {
        width: 30px;
        transform: translateY(-6px) rotate(-45deg);
    }

    nav ul {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        background-color: var(--color-bg-surface);
        flex-direction: column;
        padding-top: 80px;
        padding-left: var(--space-sm);
        gap: var(--space-md);

        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 2000;
    }

    nav ul.nav-active {
        transform: translateX(0);
    }
    
}
/*Tablet*/

@media (min-width: 601px) and (max-width: 1023px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    /*nav-bar*/
    header {
        justify-content: space-between;

        gap: var(--space-md);

        padding: var(--space-md) var(--space-lg);
    }

    .logo a {
        font-size: var(--font-size-xxl);
    }

    nav ul li {
        font-size: 1.5rem;
        padding-bottom: var(--space-sm);
    }
}